#Pre-Processing

In [59]:
import pandas as pd
import numpy as np
import matplotlib as mlp

In [60]:
data = pd.read_csv("testing.csv")
data.head()

,Sr.no,name,ingredients,diet,prep_time,cook_time,Total_time,flavor_profile,course,state,region
0,1,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,70,sweet,dessert,West Bengal,East
1,2,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,110,sweet,dessert,Rajasthan,West
2,3,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,75,sweet,dessert,Punjab,North
3,4,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,45,sweet,dessert,Rajasthan,West
4,5,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,55,sweet,dessert,West Bengal,East

In [61]:
df1 = data.filter(['flavor_profile' , 'region'])

In [62]:
df1

    flavor_profile      region
0            sweet        East
1            sweet        West
2            sweet       North
3            sweet        West
4            sweet        East
..             ...         ...
220          spicy        East
221          spicy        East
222          sweet  North East
223          sweet        West
224          sweet     Central

[225 rows x 2 columns]

In [63]:
df1 = df1[df1['flavor_profile']=='spicy']
df1.head()

   flavor_profile      region
62          spicy  North East
64          spicy  North East
65          spicy       North
66          spicy       North
67          spicy       North

In [64]:
df1= pd.get_dummies(df1,columns=['region'])

In [65]:
final_df = pd.DataFrame(columns=['flavor_profile','North'])
final_df['flavor_profile'] = df1['flavor_profile']
final_df['North']=df1['region_North']
final_df

    flavor_profile  North
62           spicy      0
64           spicy      0
65           spicy      1
66           spicy      1
67           spicy      1
..             ...    ...
211          spicy      0
214          spicy      0
216          spicy      0
220          spicy      0
221          spicy      0

[116 rows x 2 columns]

In [66]:
final_df.to_csv('Question1.csv',index=False)

In [67]:
data

,Sr.no,name,ingredients,diet,prep_time,cook_time,Total_time,flavor_profile,course,state,region
0,1,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,70,sweet,dessert,West Bengal,East
1,2,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,110,sweet,dessert,Rajasthan,West
2,3,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,75,sweet,dessert,Punjab,North
3,4,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,45,sweet,dessert,Rajasthan,West
4,5,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,55,sweet,dessert,West Bengal,East
...,...,...,...,...,...,...,...,...,...,...,...
220,223,Prawn malai curry,"Coconut milk, prawns, garlic, turmeric, sugar",non vegetarian,15,50,65,spicy,main course,West Bengal,East
221,224,Shukto,"Green beans, bitter gourd, ridge gourd, banana...",vegetarian,10,20,30,spicy,main course,West Bengal,East
222,225,Til Pitha,"Glutinous rice, black sesame seeds, gur",vegetarian,5,30,35,sweet,dessert,Assam,North East
223,226,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,80,sweet,dessert,Goa,West
224,227,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,65,sweet,dessert,Madhya Pradesh,Central

In [138]:
df2 = data[data['course']=="main course"]

In [139]:
df2 = df2.drop(['Sr.no','name','ingredients','diet','prep_time','cook_time','flavor_profile','course','region'],axis=1)
df2

     Total_time        state
44          240    Karnataka
62           50        Assam
64           20     Nagaland
65           30       Punjab
66           25       Punjab
..          ...          ...
217          45  West Bengal
218          40  West Bengal
219          30        Assam
220          65  West Bengal
221          30  West Bengal

[110 rows x 2 columns]

In [140]:
df2.drop(df2[df2['state']=="-1"].index , inplace = True)

In [141]:
df2.loc[df2['state']==-1]

Empty DataFrame
Columns: [Total_time, state]
Index: []

In [142]:
df2.to_csv('question3.csv',index=False)